<a href="https://colab.research.google.com/github/rreghunandan/Akaike-Assignments/blob/main/Drug_Analysis_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import linear_model
import itertools as it
from sklearn.metrics import accuracy_score, plot_roc_curve, roc_curve, roc_auc_score, confusion_matrix, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from matplotlib.colors import ListedColormap

In [3]:
df1=pd.read_parquet("train.parquet")
df2=pd.read_parquet("test.parquet")

In [4]:
df1.head(5)

                            Patient-Uid       Date           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
3  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
4  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
8  a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1

In [6]:
df1.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of           Patient-Uid   Date  Incident
0               False  False     False
1               False  False     False
3               False  False     False
4               False  False     False
8               False  False     False
...               ...    ...       ...
29080886        False  False     False
29080897        False  False     False
29080900        False  False     False
29080903        False  False     False
29080911        False  False     False

[3220868 rows x 3 columns]>

In [8]:
df1=df1.drop('Date',axis=1)

In [9]:
df1.head(2)

                            Patient-Uid           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f  PRIMARY_DIAGNOSIS

In [10]:
df1 = df1.drop_duplicates()

In [12]:
train_data=pd.get_dummies(df1['Incident'], drop_first=True)
df_2=pd.concat([df1,train_data],axis=1)

In [13]:
df3=df_2.drop('Incident',axis=1)
df3.head(5)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0db1e73-1c7c-11ec-ae39-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df3['TARGET DRUG'].value_counts()

0    311560
1      9374
Name: TARGET DRUG, dtype: int64

In [15]:
zero=df3[df3['TARGET DRUG']==0]
one=df3[df3['TARGET DRUG']==1]

In [18]:
sampe_train=zero.sample(n=9374)
sampe_traingrp=sampe_train.groupby(by='Patient-Uid',as_index=False).mean()
sampe_traingrp.head(5)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,a0dc962a-1c7c-11ec-8a51-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,a0dc9689-1c7c-11ec-9ca7-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,a0dc96fb-1c7c-11ec-82ed-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
one_datagrp=one.groupby(by='Patient-Uid',as_index=False).mean()
one_datagrp.head(2)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0e9c384-1c7c-11ec-81a0-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
traingrp1=one_datagrp.drop('Patient-Uid',axis=1)
traingrp2=traingrp1.apply(lambda x:x.astype(float))
new=pd.concat([pd.DataFrame(one_datagrp['Patient-Uid']),traingrp2],axis=1)
new.head(5)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0e9c384-1c7c-11ec-81a0-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,a0e9c3b3-1c7c-11ec-ae8e-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,a0e9c3e3-1c7c-11ec-a8b9-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,a0e9c414-1c7c-11ec-889a-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,a0e9c443-1c7c-11ec-9eb0-16262ee38c7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
new_train_data=pd.concat([sampe_traingrp,new],axis=0)

In [39]:
x_train=new_train_data.drop(['TARGET DRUG','DRUG_TYPE_18'],axis=1)
x_train1=x_train.drop('Patient-Uid',axis=1)
y_train=new_train_data['TARGET DRUG']

In [24]:
df2.head(5)

                            Patient-Uid       Date        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0

In [28]:
df2=df2.drop_duplicates()

In [29]:
df21=df2.drop('Date',axis=1)
df21.head(5)

                            Patient-Uid        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f     DRUG_TYPE_0
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f     DRUG_TYPE_2
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f     DRUG_TYPE_1
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f  SYMPTOM_TYPE_0

In [31]:
#  OneHotEncoding:
test_data=pd.get_dummies(df2['Incident'],drop_first=True)
df21=pd.concat([df2,test_data],axis=1)
df23=df21.drop('Incident',axis=1)
df23.head(5)

,Patient-Uid,Date,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,...,SYMPTOM_TYPE_6,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,2016-12-08,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,2018-10-17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,2017-12-01,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,2018-12-05,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,2017-11-04,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df24=df23.groupby('Patient-Uid',as_index=False).mean()
df24.tail(4)

,Patient-Uid,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_6,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
11478,a102723c-1c7c-11ec-9f80-16262ee38c7f,0.206897,0.000000,0.0,0.0,0.000000,0.0,0.034483,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11479,a102726b-1c7c-11ec-bfbf-16262ee38c7f,0.057471,0.011494,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11480,a102729b-1c7c-11ec-86ba-16262ee38c7f,0.222222,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11481,a10272c9-1c7c-11ec-b3ce-16262ee38c7f,0.000000,0.000000,0.0,0.0,0.171429,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
x_Test_data=df24.drop('Patient-Uid',axis=1)
x_Test_data.head(5)

,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,DRUG_TYPE_2,...,SYMPTOM_TYPE_6,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
0,0.062500,0.0,0.020833,0.0,0.0,0.0,0.000000,0.0,0.0,0.041667,...,0.062500,0.0,0.0,0.0,0.041667,0.000000,0.0,0.000000,0.0,0.0
1,0.232558,0.0,0.000000,0.0,0.0,0.0,0.069767,0.0,0.0,0.124031,...,0.015504,0.0,0.0,0.0,0.000000,0.000000,0.0,0.007752,0.0,0.0
2,0.362637,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.109890,...,0.000000,0.0,0.0,0.0,0.000000,0.021978,0.0,0.000000,0.0,0.0
3,0.000000,0.0,0.008929,0.0,0.0,0.0,0.000000,0.0,0.0,0.026786,...,0.000000,0.0,0.0,0.0,0.008929,0.000000,0.0,0.000000,0.0,0.0
4,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.059701,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0

In [41]:
lr=LogisticRegression()
model_train=lr.fit(x_train1,y_train)
model_train

LogisticRegression()

In [42]:
predict_train=lr.predict(x_train1)
predict_train

array([0., 0., 0., ..., 1., 1., 1.])

In [44]:
score=accuracy_score(predict_train,x_Test_data)
score

ValueError: ignored