<a href="https://colab.research.google.com/github/rreghunandan/Akaike-Assignments/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download('stopwords')
from nltk.corpus import stopwords
stopword = stopwords.words('english')
import string
import json
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.util import *
from textblob import TextBlob

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Unzipping corpora/words.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [2]:
with open('/content/tweets.json') as jfile:
  json_file = json.load(jfile)

# Transposing the json file

In [3]:
df=pd.DataFrame(json_file).T

In [4]:
df.head(10)            #Displaying the first 10 tweets

,tweet_author,tweet_text
1374140386071961602,Hematopoiesis News,‚öïÔ∏è Scientists conducted a Phase II study of ac...
1374032432173842437,"Michael Wang, MD",This phase 2 Acalabrutinib-Venetoclax (AV) tri...
1373902876553048065,1stOncology,#NICE backs #AstraZenecas #Calquence for #CLL ...
1373656782367813635,Toby Eyre,#acalabrutinib is a valuable option in pts int...
1372941634334232586,Lymphoma Hub,NICE has recommended the use of acalabrutinib ...
1372927482278539265,David Ledger,NICE backs AstraZeneca‚Äôs Calquence for CLL htt...
1372911723305394179,N Wales Cancer Forum,This is England for now - these decisions usua...
1372888121159868423,European Pharmaceutical Review,"AstraZeneca‚Äôs Calquence (acalabrutinib), a che..."
1372866915081797632,Graham Collins,Superstar @tobyeyre82 responding to the excell...
1372825553837944834,CLL Ireland,CLL patients all know the drug Ibrutinib and y...

Checking for null values

In [5]:
print('Total Null values:',df.isnull().sum())
print('Total No: of Unique Tweet authors:',df.tweet_author.nunique())

Total Null values: tweet_author    0
tweet_text      0
dtype: int64
Total No: of Unique Tweet authors: 9292

Cleanig data using NLP

In [6]:
def clean_data(data):
  data = data.lower()
  data = re.sub(r'[^(a-zA-Z)\s]','', data)                
  data = re.sub(r'http\S+', " ", data)                       #to remove url
  data = re.sub(r'@\w+',' ',data)                        # to remove @
  data = re.sub(r'#\w+', ' ',data)                #to remove hastags
  data = re.sub(r'\d+()', ' ', data)            #to remove digits
  data = re.sub('r<.*?>',' ', data)               #to remove stop words
  data = data.split()
  return data
  df['tweet_text']=df['tweet_text'].apply(lambda x:clean_data(x))

In [7]:
def remove_punctuation(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text
    df['tweet_text']= df['tweet_text'].apply(lambda x: remove_punctuation(x))

In [8]:
def tokenization(text):
    text = re.split('\W+', text)
    return text
    df['tweet_text'] = df['tweet_text'].apply(lambda x: tokenization(x.lower()))

Coverting the most frequent words into csv file

In [9]:
df1=df['tweet_text']            #creating copy

Steamming and Lemmatization

In [10]:
PS = nltk.PorterStemmer()
def stemming(text):
    text = [PS.stem(word) for word in text]
    return text
df1 = df1.apply(lambda x: stemming(x))

In [11]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from nltk import word_tokenize,sent_tokenize
import nltk; nltk.download('popular')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [12]:
Wordlem = nltk.WordNetLemmatizer()
def lemmatizer(text):
  text = [Wordlem.lemmatize(word) for word in text]
  return text
df1= df1.apply(lambda x: lemmatizer(x))

Importing Stanford NLP

In [13]:
from nltk.tag.stanford import StanfordNERTagger
from nltk.tag.stanford import StanfordPOSTagger
!wget 'https://nlp.stanford.edu/software/stanford-ner-2018-10-16.zip'
!unzip stanford-ner-2018-10-16.zip

nltk.download('punkt')

tagged = StanfordNERTagger('/content/stanford-ner-2018-10-16/classifiers/english.all.3class.distsim.crf.ser.gz',
                       '/content/stanford-ner-2018-10-16/stanford-ner.jar',
                       encoding='utf-8')

--2022-11-16 14:04:16--  https://nlp.stanford.edu/software/stanford-ner-2018-10-16.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: https://downloads.cs.stanford.edu/nlp/software/stanford-ner-2018-10-16.zip [following]
--2022-11-16 14:04:16--  https://downloads.cs.stanford.edu/nlp/software/stanford-ner-2018-10-16.zip
Resolving downloads.cs.stanford.edu (downloads.cs.stanford.edu)... 171.64.64.22
Connecting to downloads.cs.stanford.edu (downloads.cs.stanford.edu)|171.64.64.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 180358328 (172M) [application/zip]
Saving to: ‚Äòstanford-ner-2018-10-16.zip‚Äô

stanford-ner-2018-1 100%[===================>] 172.00M  5.03MB/s    in 30s

2022-11-16 14:04:46 (5.74 MB/s) - ‚Äòstanford-ner-2018-10-16.zip‚Äô saved [180358328/180358328]

Archive:  stanford-ner-2018-10-16.zip
   creating: stanford-ner-2018-10-16/
  inflating: stanford-ner-2018-10-16/README.txt
  inflating: stanford-ner-2018-10-16/ner-gui.bat
  inflating: stanford-ner-2018-10-16/build.xml
  inflating: stanford-ner-2018-10-16/stanford-ner.jar
  inflating: stanford-ner-2018-10-16/sample-conll-file.txt
  inflating: stanford-ner-2018-10-16/sample.ner.txt
  inflating: stanford-ner-2018-10-16/stanford-ner-3.9.2-sources.jar
   creating: stanford-ner-2018-10-16/lib/
  inflating: stanford-ner-2018-10-16/lib/joda-time.jar
  inflating: stanford-ner-2018-10-16/lib/stanford-ner-resources.jar
  inflating: stanford-ner-2018-10-16/lib/jollyday-0.4.9.jar
  inflating: stanford-ner-2018-10-16/ner-gui.command
  inflating: stanford-ner-2018-10-16/ner.sh
  inflating: stanford-ner-2018-10-16/stanford-ner-3.9.2.jar
  inflating: stanford-ner-2018-10-16/NERDemo.java
  inflating: stanford-ner-2018-10-16/stanford-ner-3.9.2-javadoc.jar
  inflating: stanford-ner-2018-10-16/ner.bat
   creating: stanford-ner-2018-10-16/classifiers/
  inflating: stanford-ner-2018-10-16/classifiers/english.conll.4class.distsim.prop
  inflating: stanford-ner-2018-10-16/classifiers/example.serialized.ncc.ncc.ser.gz
  inflating: stanford-ner-2018-10-16/classifiers/english.muc.7class.distsim.crf.ser.gz
  inflating: stanford-ner-2018-10-16/classifiers/english.conll.4class.distsim.crf.ser.gz
  inflating: stanford-ner-2018-10-16/classifiers/english.muc.7class.distsim.prop
  inflating: stanford-ner-2018-10-16/classifiers/english.all.3class.distsim.prop
  inflating: stanford-ner-2018-10-16/classifiers/example.serialized.ncc.prop
  inflating: stanford-ner-2018-10-16/classifiers/english.all.3class.distsim.crf.ser.gz
  inflating: stanford-ner-2018-10-16/sample.txt
  inflating: stanford-ner-2018-10-16/sample-w-time.txt
  inflating: stanford-ner-2018-10-16/ner-gui.sh
  inflating: stanford-ner-2018-10-16/LICENSE.txt

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Objective 2

In [15]:
df

,tweet_author,tweet_text
1374140386071961602,Hematopoiesis News,‚öïÔ∏è Scientists conducted a Phase II study of ac...
1374032432173842437,"Michael Wang, MD",This phase 2 Acalabrutinib-Venetoclax (AV) tri...
1373902876553048065,1stOncology,#NICE backs #AstraZenecas #Calquence for #CLL ...
1373656782367813635,Toby Eyre,#acalabrutinib is a valuable option in pts int...
1372941634334232586,Lymphoma Hub,NICE has recommended the use of acalabrutinib ...
...,...,...
551103473643945985,Joy is a Lifestyle,Hanging out with Friends! :) #FF #CLL #Happine...
551102786675290112,ùìíùìªùì≤ùîÉùîÉùîÇ ùìüùìÆùìªùìªùîÇüåπ,Hanging out with Friends! :) #FF #CLL #Happine...
550969541186953217,IQWiG,Zusatznutzen von #Idelalisib ist weder f√ºr #CL...
550941480525635584,Medibooks,#Hematolog√≠a PTK2 EXPRESSION AND IMMUNOCHEMOTH...
550579446537678849,Medibooks,#Hematolog√≠a MUTATIONS IN TLR/MYD88 PATHWAY ID...

Warning: total number of rows (43347) exceeds max_rows (20000). Limiting to first (20000) rows.

In [24]:
sentiment=df. reset_index(drop=True)
sentiment.head(5)

         tweet_author                                         tweet_text
0  Hematopoiesis News  ‚öïÔ∏è Scientists conducted a Phase II study of ac...
1    Michael Wang, MD  This phase 2 Acalabrutinib-Venetoclax (AV) tri...
2         1stOncology  #NICE backs #AstraZenecas #Calquence for #CLL ...
3           Toby Eyre  #acalabrutinib is a valuable option in pts int...
4        Lymphoma Hub  NICE has recommended the use of acalabrutinib ...

In [25]:
import re
def clean_text(Text):
    Text = re.sub('http\S+\s*', ' ', Text)  
    Text = re.sub('RT|cc', ' ', Text) 
    Text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', Text)  # remove punctuations in the text    
    Text = re.sub('@\S+', '  ', Text)  # remove mentions in the text
    Text = re.sub(r'[^\x00-\x7f]',r' ',Text)    
    Text = Text.lower() #changing to lower case
    Text = re.sub('\s+', ' ', Text) 
    Text = re.sub('#\S+', '', Text)  
    return Text
    
sentiment['tweet_text']=sentiment['tweet_text'].apply(clean_text)

In [26]:
sentiment.head(5)

         tweet_author                                         tweet_text
0  Hematopoiesis News   scientists conducted a phase ii study of acal...
1    Michael Wang, MD  this phase 2 acalabrutinib venetoclax av trial...
2         1stOncology         nice backs astrazenecas calquence for cll
3           Toby Eyre   acalabrutinib is a valuable option in pts int...
4        Lymphoma Hub  nice has recommended the use of acalabrutinib ...

In [27]:
sentiment.tail(5)

             tweet_author                                         tweet_text
43342  Joy is a Lifestyle         hanging out with friends ff cll happiness
43343       ùìíùìªùì≤ùîÉùîÉùîÇ ùìüùìÆùìªùìªùîÇüåπ         hanging out with friends ff cll happiness
43344               IQWiG  zusatznutzen von idelalisib ist weder f r cll ...
43345           Medibooks   hematolog a ptk2 expression and immunochemoth...
43346           Medibooks   hematolog a mutations in tlr myd88 pathway id...

In [28]:
sentiment.sample(5)

,tweet_author,tweet_text
26116,SSBMT ÿßŸÑÿÆŸÑÿßŸäÿßÿßŸÑÿ¨ÿ∞ÿπŸäÿ©,single agent ibrutinib in treatment na ve and ...
32380,"Raul Cordoba, MD, PhD",ibrutinib in the real world patient many ligh...
37329,Mighty #WearAMask Casey ‚òÄÔ∏è,seeking options for relapsed high risk cll cli...
4183,Valentin Grevtcov,luciacalabru calquence acalabrutinib
23461,Radical Remission,in 1991 glennsabin was a 28 year old diagnosed...

Sentiment Analysis

In [29]:
from textblob import TextBlob

In [30]:
def getsubjectivity(text):
    subj=TextBlob(text).sentiment.subjectivity
    return subj

def getpolarity(text):
    return TextBlob(text).sentiment.polarity

sentiment['subjectivity']=sentiment['tweet_text'].apply(getsubjectivity)
sentiment['getpolarity']=sentiment['tweet_text'].apply(getpolarity)

In [31]:
sentiment.head(2)

,tweet_author,tweet_text,subjectivity,getpolarity
0,Hematopoiesis News,scientists conducted a phase ii study of acal...,0.0,0.0
1,"Michael Wang, MD",this phase 2 acalabrutinib venetoclax av trial...,0.0,0.0

In [32]:
def geranalysis(score):
    if score < 0:
        return "Negative"
    elif score == 0:
        return "Neutral"
    else:
        return "Positive"
    
sentiment['Analysis']=sentiment['getpolarity'].apply( geranalysis)

In [34]:
sentiment.head(10)

,tweet_author,tweet_text,subjectivity,getpolarity,Analysis
0,Hematopoiesis News,scientists conducted a phase ii study of acal...,0.000000,0.000000,Neutral
1,"Michael Wang, MD",this phase 2 acalabrutinib venetoclax av trial...,0.000000,0.000000,Neutral
2,1stOncology,nice backs astrazenecas calquence for cll,1.000000,0.600000,Positive
3,Toby Eyre,acalabrutinib is a valuable option in pts int...,0.400000,0.050000,Positive
4,Lymphoma Hub,nice has recommended the use of acalabrutinib ...,0.750000,0.550000,Positive
5,David Ledger,nice backs astrazeneca s calquence for cll,1.000000,0.600000,Positive
6,N Wales Cancer Forum,this is england for now these decisions usuall...,0.375000,0.125000,Positive
7,European Pharmaceutical Review,astrazeneca s calquence acalabrutinib a chemot...,0.650000,0.450000,Positive
8,Graham Collins,superstar tobyeyre82 responding to the excelle...,1.000000,0.800000,Positive
9,CLL Ireland,cll patients all know the drug ibrutinib and y...,0.268182,0.045455,Positive

In [35]:
analysis2=sentiment[['tweet_text','tweet_author','Analysis']]
analysis2.to_excel("objective2.xlsx")